!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Cover - Free Bulma template
    %link{:href => "../images/fav_icon.png", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet"}/
    / Bulma Version 0.7.1
    = stylesheet_link_tag 'application', media: 'all'
    :css
      html,
      body {
          font-family: 'Open Sans';
          }
      img {
          padding: 5px;
          border: 1px solid #ccc;
          }
  %body{ class: "#{controller_name}-#{action_name}"}
    %section.hero.is-fullheight.is-default.is-bold
      .hero-body
        .container.has-text-centered


          = yield


      .hero-foot
        .container
          .tabs.is-centered

    = javascript_include_tag 'application'